.Overview-pages{
    position: absolute;
    width: calc(100vw - 280px);
    height: calc(100vh - 70px);
    top: 70px;
    left: 280px;
}

.overview-container{
    margin: 30px;
}

.card-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}